.details-content {
    max-width: 620px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 1rem;
}

.details-content h2 {
    text-align: left;
}

.details-content p {
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.details-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 5px;
}
